*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}
img{
    width: 100%;
    height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
}
.nav-headd{
    font-size: 27px;
    letter-spacing: 5px;
    font-family: fantasy;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 20px;
  color: white; /* Optional: set text color */
}
button{
    background-color: rgba(171, 108, 30, 0.962);
    padding: 7px;
}
.main{
    background: url(main.jpeg);
    width: 100%;
    height: 100vh;
    min-height: 100%;
    max-width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cont1{
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    
    height: 60vh;
    align-items: center;
    padding: 8% 20%;
    background-color: rgba(124, 95, 47, 0.728);
}
.cont1 h2{
    font-family: "Mukta", sans-serif;
    font-size: 35px;
}
.cont1 p{
    font-family: "Playfair Display", serif;
}
.cont2{
    padding-left: 7%;
    padding-right: 7%;
}
.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
   justify-content: space-around;
    text-align: center;
   padding-left: 20px;
   padding-right: 20px;
   
}

.card{
    margin: 5%;
    margin-left: 10%;
    margin-right: 10%;
    /* height: 75vh; */
    border: none;
    
}
.card img{
    height: 200px;
}
.card svg{
    margin-left: 43%;
}
.c1 li pre{
    font-family: "Mukta", sans-serif;
    font-size: 17px;
}
.cont4{
    text-align: center;
}
.cont41{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.cont41 img{
    height: 300px;
}
.cont5{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding-left: 8%;
    padding-right: 8%;
}
.cont5 img{
    height: 350px;
}
.cont6{
    margin-top: 15px;
   background: linear-gradient(to right,rgb(98, 52, 19),rgba(222, 121, 49, 0.58));
   color: white;
    height: 50vh;
    min-height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}
.cont6 div{
    text-align: center;
    align-items: center;
}
.card-cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    align-items: center;
    padding-top: 2px;
}
.card-cont div{
    width: 90%;
    text-align: center;
    align-items: center;
}
.card-cont img{
    width: 70%;
    height: 220px;
    text-align: center;
    padding: 10px;
    padding-bottom: 5px;
    
}
.cont7{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-content: space-around;
    /* text-align: center; */
    align-items: center;
    margin-left: 5%;
}
.cont7 div{
    width: 85%;
    border: 1px solid black;
    border-radius: 10px;
    align-self: center;
    padding: 5px;
}
.listt{
    list-style-type: none;
}
.cont8{
    height: 70vh;
   background-color: rgba(176, 111, 65, 0.749);
    padding: 8% 15% 0 15%;
    text-align: center;
    /* margin-top: 15px; */
    /* padding-bottom: 15px; */
}
.cont8 p{
    font-family: "Playfair Display", serif;
    font-size: 18px;
}
.cont8 h2{
    font-family: "Mukta", sans-serif;
    font-size: 35px;
}
.cont9 p{
    font-family: "Playfair Display", serif;
}
/* .cont9 h3{
    font-family: "Mukta", sans-serif;
} */
.card-cont2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 6px;
    padding: 15px 30px 10px 30px;
    
    align-items: center;
}
.card-cont2 img{
    width: 100%;
}
footer{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5% 15% 5% 15%;
    align-content: center;
    gap: 5%;
    font-family: "Playfair Display", serif;
}
footer ul{
    list-style-type: none;
    
}
a{
    text-decoration: none;
    color: white;
}
.cont11{
    background-image: url("int13.jpeg");
    height: 60vh;
    min-height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.cont11 h1{
    position: absolute;
    top: 50%;
    left: 40%;
    /* padding: 20px; */
    color: rgba(160, 93, 11, 0.739);

    

}
.cont11 h4{
    position: absolute;
    top: 65%;
    left: 43%;
    color: rgba(160, 93, 11, 0.739);

}
.cont12{
    padding-left: 28%;
    margin: 5px;
}
.cont12 input,label,textarea{
   display: block;
}
.cont12 input{
    width: 60%;
    height: 45px;
    font-size: 14px;
    padding-left: 10px;
}
.cont12 label{
    padding-top: 15px;
    font-size: 18px;
}
.cont12 textarea{
    font-size: 14px;
    padding-left: 10px;
}
.cont12 h2{
    color: rgba(193, 134, 62, 0.67);
    margin-left: 15%;
}
.cont13{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    
    padding: 10px;
    height: 60vh;
    padding-left: 15%;
    padding-left: 15%;
    align-items: center;
    background-color: rgba(145, 145, 110, 0.452);
}

.cont13 h3{
    color: rgba(132, 132, 14, 0.607);
    margin-bottom: 20px;
    
}
.cont13 p{
    font-size: 17px;
}
.cont2{
    text-align: center;
}
.cont21{
    background-image: url("int13.jpeg");
    color: rgb(127, 80, 23);
    height: 70vh;
    min-height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.cont21 h1{
    position: absolute;
    top: 50%;
    left: 42%;
    /* padding: 20px; */
    

}
.cont21 h4{
    position: absolute;
    top: 65%;
    left: 42%;
}
.cont22{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-right: 25px;
}
.cont22 div{
    text-align: center; 
}
.cont23{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}
.cont23 h3{
    color: rgba(160, 93, 11, 0.739);
}
.head23{
    text-align: center;
    color: rgb(127, 80, 23);}
.cont24{
    background-color: rgba(110, 110, 86, 0.452);   
    padding: 15px;
    min-height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.cont27{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    padding: 15px;
    gap: 20px;
    padding-left: 5%;
    padding-right: 5%;
}
.cont27 div svg{
    margin-left: 8px;
}
.cont28{
    background-color: rgba(110, 110, 86, 0.452);
    height: 55vh;
    padding: 40px;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    align-items: center;
    
}


@media (max-width:600px){
    .card-container{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 2%;
        /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; */
    }
    .cont41{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 2%;
    }
    .cont5{
        display: grid;
        grid-template-columns: 1fr;
        padding: 5px 10px 10px 10px;
    }
    .cont6{
        margin-top: 15px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        height: 40vh;
    }
    .card-cont{
        display: grid;
        grid-template-columns: 1fr;
    }
    .cont7{
        display: grid;
        grid-template-columns: 1fr;
    }
    .cont8{
        padding: 20% 17% 0 17%;
        height: 90vh;
        margin-top: 10px;
        padding-top: 35px;
    }
    .card-cont2{
        display: grid;
        grid-template-columns: 1fr;
    }
    .cont12{
        padding-left: 15%;
        margin: 5px;
    }
        .cont12 input,label,textarea{
            display: block;
         }
         .cont12 input{
             width: 90%;
             height: 35px;
             
         }
         .cont12 label{
             padding-top: 10px;
         }
    
    .cont13{
        display: block;
    }
    .cont23{
        display: block;
    }
    .cont27{
        display: block;
    }
   
}

@media (max-width:440px){
    .main{
        background: url(main.jpeg);
        /* width:400px; */
         min-height: 80%;
         height: 50vh;
         max-width: 100%;
     position: relative;
     background-position-x: -300px;
     background-size: cover;
     background-repeat: no-repeat;
    }
}
